<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yedam.spring.sales.mapper.MaterialWareMpper">
	
	<!-- 자재발주 목록 -->
	<select id="reList" resultType="MaterialWareVO">	
		SELECT DISTINCT o.ordr_cd, ordr_req_dt, paprd_cmnd_dt,
			   (SELECT vend_nm 
				FROM  vend 
				WHERE vend_cd = o.vend_cd) AS "vend_nm"
		FROM rsc_ordr o , rsc_ordr_dtl d
		WHERE o.ordr_cd = d.ordr_cd
		<if test="vendNm!=null and !vendNm.equals('')">
		AND vend_cd = 
		               (SELECT vend_cd 
		                FROM vend 
		                WHERE vend_nm= #{vendNm})
		</if>
		<if test="start != null and !start.equals('')">
		AND <![CDATA[paprd_cmnd_dt >= #{start}]]>
		</if>
		<if test="end != null and !end.equals('')">
		AND <![CDATA[paprd_cmnd_dt <= #{end}]]>
		</if>
		ORDER BY paprd_cmnd_dt DESC
</select>

<!-- 상세 목록 조회 -->
	<select id="detailList" resultType="MaterialWareVO">	
		SELECT ordr_cd, o.rsc_cd, ordr_cnt, rmn_cnt, paprd_cmnd_dt, rsc_nm, rsc_spec, rsc_unit
		FROM  rsc_ordr_dtl o, rsc r
		WHERE o.rsc_cd = r.rsc_cd
		AND ordr_cd = #{ordrCd}
		ORDER BY paprd_cmnd_dt DESC
	</select>

<!-- 검사 불량 -->
	<select id = "testPoor" resultType="MaterialWareVO">
		SELECT detail_code, detail_name, full_code
		FROM detail_code
		WHERE basic_code = 'ERR'
	</select>
	
<!-- 사원 모달창 -->	
	<select id="empList" resultType="MaterialWareVO">
	SELECT emp_code, emp_name 
	FROM emp
	</select>
	
<!--검사코드 생성  -->
   <select id= "makeCd" resultType="String">
     SELECT 'RSC'||SUBSTR(TO_CHAR(sysdate, 'yyyyMMdd'),3) ||     -- 출고번호 생성
            (SELECT LPAD(NVL(MAX(SUBSTR(insp_cd,12,2)+1),1),4,'0')
             FROM rsc_insp
             WHERE TO_CHAR(insp_tstr,'yyyyMMdd')=TO_CHAR(sysdate,'yyyyMMdd'))
    	FROM dual
   </select>
   
   <!--디테일 저장  -->
	<insert id="saveDetail"   parameterType="MaterialWareVO">
	INSERT INTO rsc_insp_dtl
	VALUES #{rscInspCd}, #{ordrCd}, #{rscCd}, #{inspCnt}, #{inspPassCnt}, #{inspFailCnt}
	</insert>

</mapper>
  