<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.yedam.spring.sales.mapper.OrderMapper">

	<!--주문서 조회 -->
	<select id="searchOrder" resultType="OrderVO">
		SELECT order_no,
			   vend_cd,
	           vend_nm,
	           order_sit,
	           parrd_dt,
	           order_dt,
	           nvl((SELECT COUNT(order_detail_no) 
	           		FROM order_detail d 
	           		WHERE d.order_no = s.order_no 
	           		GROUP BY d.order_no),0) AS "detail_cnt"
	  	FROM order_sheet s
	<where>
	<if test="vendNm!=null and !vendNm.equals('')">
		vend_nm=#{vendNm}
	</if>
	<if test="start != null and !start.equals('')">
		AND order_dt >= #{start}
	</if>
	<if test="end != null and !end.equals('')">
		AND <![CDATA[order_dt <= #{end}]]>
	</if>
	</where>
	ORDER BY order_dt DESC
	</select>
	
	
	<!--거래처 모달창 조회 -->
	<select id="searchVend" resultType="vendVO">
		SELECT vend_cd,
			   vend_nm
		FROM vend
		<where>
			<if test="vendNm!=null and !vendNm.equals('')">
				vend_nm LIKE '%${vendNm}%'
		</if>
		</where>
		ORDER BY 1
	</select>

	<!--주문서 삭제  -->
	<delete id = "deleteOrder" parameterType="String">
		DELETE FROM order_sheet
		WHERE order_no = #{str}
	</delete>
	

	<!--주문서 상세 목록 모달 --> 
	<select id="orderDetail" resultType="OrderVO">
		SELECT order_detail_no,
			   pro_nm,
			   order_sit_detail,
			   order_cnt
		FROM order_detail
		WHERE order_no=#{orderNo}
		ORDER BY 1 
	</select>
	
	
	<!-- 주문서 디테일 수정 추가  -->
	<update id="saveOrder" statementType="CALLABLE" parameterType="OrderVO">
  	{ CALL order_detail_save(#{orderDetailNo},#{proNm}, #{orderCnt}, #{orderNo}) }
	</update>
	
	<!--제품명 모달창 조회 -->
	<select id="searchPro" resultType="EdctsVO">
		SELECT pro_cd,
			   pro_nm
		FROM edcts
		<where>
			<if test="proNm!=null and !proNm.equals('')">
				pro_nm LIKE '%${proNm}%'
		</if>
		</where>
		ORDER BY 1
	</select>
	
		<!-- 주문서 전체 추가  -->
	<update id="saveOrderTotal" statementType="CALLABLE" parameterType="OrderVO">
  	{ CALL order_save(#{vendNm},#{orderDt}, #{parrdDt}, #{orderNo}) }
	</update>
	
</mapper>