<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.yedam.spring.sales.mapper.OrderMapper">

	<!--주문서 조회 -->
	<select id="searchOrder" resultType="OrderVO">
		SELECT order_no,
			   vend_cd,
			   vend_nm,
			   order_sit,
			   parrd_dt,
			   order_dt
		FROM order_sheet
		<where>
			<if test="vendNm!=null and !vendNm.equals('')">
				vend_nm=#{vendNm}
			</if>
			<if test="start != null and !start.equals('')"> 
				 AND order_dt >= #{start} 
			</if>
			<if test="end != null and !end.equals('')"> 
				AND <![CDATA[order_dt <= #{end}]]>
			</if>
		</where>
		ORDER BY 1 DESC
	</select>
	
	<!--거래처 모달창 조회 -->
	<select id="searchVend" resultType="vendVO">
		SELECT vend_cd,
			   vend_nm
		FROM vend
		<where>
			<if test="vendNm!=null and !vendNm.equals('')">
				vend_nm LIKE '%${vendNm}%'
		</if>
		</where>
		ORDER BY 1
	</select>

	<!--주문서 삭제  -->
	<delete id = "deleteOrder" parameterType="String">
		DELETE FROM order_sheet
		WHERE order_no = #{str}
	</delete>
	

	<!--주문서 상세 목록 모달 --> 
	<select id="orderDetail" resultType="OrderVO">
		SELECT order_detail_no,
			   pro_nm,
			   order_sit_detail,
			   order_cnt
		FROM order_detail
		WHERE order_no=#{orderNo}
		ORDER BY 1 
	</select>
	
	
	<!-- 주문서 수정 추가  -->
	<update id="saveOrder" parameterType="OrderVO">
	update order_detail
	set pro_nm=#{proNm} ,
		order_cnt=#{orderCnt},
		pro_cd= (
				select pro_cd
				from edcts
				where pro_nm=#{proNm}
		)
  	WHERE order_detail_no = #{orderDetailNo}
	</update>
	
</mapper>