<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper
  		namespace="com.yedam.spring.sales.mapper.ReceiveMapper">
  
  <!-- 입고 모달창 조회 -->
	<select id="testComplete" resultType="ReceiveVO">
		SELECT prcs_tbl_cd, output, o.pro_cd , e.pro_nm
        FROM process_tbl T, pr_order o, edcts e
        WHERE o.pr_order_cd = t.pr_order_cd
        AND o.pro_cd = e.pro_cd
        AND t.prcs_cd ='PRCWRP001'
        AND t.completed = 1
			<if test="start != null and !start.equals('')"> 
				 AND pr_start_dt >= #{start} 
			</if>
			<if test="end != null and !end.equals('')"> 
				AND <![CDATA[pr_end_dt<= #{end}]]>
			</if>
		ORDER BY pr_end_dt
	</select>
  
  	<!-- 입고 처리  -->
	<update id="signUp" statementType="CALLABLE" parameterType="ReceiveVO">
  	{ CALL receive_sign_up(#{proCd},#{proIstCnt},#{prcsTblCd},#{proIstNo}) }
	</update>
  
  
    <!-- 입고 조회 -->
	<select id="search" resultType="ReceiveVO">
	SELECT pro_ist_no, pro_ist_dt, 
	      (SELECT pro_nm 
	       FROM edcts 
	       WHERE pro_cd = e.pro_cd) AS "pro_nm", pro_ist_cnt,
	      (SELECT pro_lot_no 
	       FROM pro_stc 
	       WHERE pro_ist_no = e.pro_ist_no
           AND pro_cd = e.pro_cd) AS "pro_lot_no"
	FROM edcts_ist e
	WHERE TO_CHAR(pro_ist_dt,'yyyyMMdd') = TO_CHAR( sysdate, 'yyyymmdd')
	ORDER BY pro_ist_no DESC
	</select>
  
  
  <!--입고번호 생성  -->
  <select id= "number" resultType="String">
     	SELECT SUBSTR(TO_CHAR(sysdate, 'yyyyMMdd'),3) || 
        (SELECT LPAD(NVL(MAX(SUBSTR(PRO_IST_NO,-1,2)+1),1),4,'0')
         FROM edcts_ist 
        WHERE TO_CHAR(pro_ist_dt,'yyyyMMdd')=TO_CHAR(sysdate,'yyyyMMdd')
        )
    	FROM dual
  </select>
  
  
  
  </mapper>