<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.spring.manager.mapper.ManagerMapper">
	<!-- 기초 코드 전체 조회 -->
	<select id="getAllBasicCode" resultType="BasicCodeVO">
		SELECT basic_code
			 , basic_name
		  FROM basic_code
		 ORDER BY basic_code
	</select>

	<!-- 상세 코드 조회 -->
	<select id="getDetailCode" resultType="DetailCodeVO">
		SELECT detail_code
			 , detail_name
			 , detail_explain
			 , detail_avail
		  FROM basic_code b, detail_code d
		 WHERE b.basic_code = d.basic_code
		   AND d.basic_code = #{basicCode}
		 ORDER BY detail_code
	</select>

	<!-- 공통 코드 추가 -->
	<insert id="insertBasicCode" parameterType="BasicCodeVO">
		INSERT INTO basic_code
		VALUES ( #{basicCode}, #{basicName} )
	</insert>

	<!-- 상세 코드 추가 or 수정 -->
	<update id="upsertDetailCode" statementType="CALLABLE" parameterType="DetailCodeVO">
		{ CALL upsert_detail_code(
			  #{detailCode}
			, #{basicCode}
			, #{detailName}
			, #{detailExplain}
			, #{detailAvail}
		  )
		}
	</update>

	<!-- 거래처 전체 조회 -->
	<select id="getAllVend" resultType="VendVO">
		SELECT *
		  FROM vend
		 ORDER BY vend_cd
	</select>

</mapper>