<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.spring.manufacturing.performance.mapper.PerformanceMapper">
	<!-- 모든 지시 조회 -->
	<select id="getAllInst" resultType="InstVO">
		SELECT DISTINCT h.pr_order_cd
			 , h.pr_order_dt
		  FROM pr_order_header h, pr_order o
		 WHERE h.pr_order_cd = o.pr_order_cd
		   AND o.pr_end_dt IS NULL
		 ORDER BY 1
	</select>
	
	<!-- 지시 상세 조회 -->
	<select id="getPrOrderDetail" resultType="InstVO">
		SELECT *
		  FROM pr_order p, edcts e
		 WHERE p.pro_cd = e.pro_cd
		   AND pr_order_cd = #{prOrderCd}
		 ORDER BY p.pro_cd
	</select>
	
	<!-- 제품별 공정 조회 -->
	<select id="getPrcsBom" resultType="ProcessVO">
		SELECT *
		  FROM process_tbl t, prcs_result r, prcs p
		 WHERE t.pr_order_cd = r.pr_order_cd
		   AND t.pro_cd = r.pro_cd
		   AND t.prcs_cd = r.prcs_cd
		   AND t.prcs_cd = p.prcs_cd
		   AND t.pr_order_cd = #{prOrderCd}
		   AND t.pro_cd = #{proCd}
		 ORDER BY t.bom_sq
	</select>
</mapper>