<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yedam.spring.material.mapper.MaterialMapper">

	<!-- 발주관리페이지 자재목록 -->

	<select id="rscCOrdrList" resultType="MaterialLOTVO">
	SELECT r.rsc_cd,
		r.rsc_nm, o.vend_cd, v.vend_nm, SUM(l.lot_cnt) AS "LOT_CNT", r.saf_rtc
		FROM rsc r,
		rsc_ordr o, rsc_lot l, vend v
		WHERE r.rsc_cd = l.rsc_cd
		AND o.ordr_cd = l.ordr_cd
		AND o.vend_cd = v.vend_cd
		GROUP BY r.rsc_cd, r.rsc_nm, o.vend_cd, v.vend_nm, r.saf_rtc
	</select>


	<select id="selectMaterialLOTList" resultType="MaterialLOTVO">
		SELECT r.rsc_cd,
		r.rsc_nm, o.vend_cd, v.vend_nm, SUM(l.lot_cnt) AS "LOT_CNT", r.saf_rtc
		FROM rsc r,
		rsc_ordr o, rsc_lot l, vend v
		WHERE r.rsc_cd = l.rsc_cd
		AND o.ordr_cd = l.ordr_cd
		AND o.vend_cd = v.vend_cd
		GROUP BY r.rsc_cd, r.rsc_nm, o.vend_cd, v.vend_nm, r.saf_rtc
	</select>

	<!-- 발주관리페이지 발주코드 -->
	<select id="materialOrderCd" resultType="MaterialOrderVO">
		select LPAD(count(*), 3,0) as "ordrSCnt"
		from rsc_ordr where ordr_cd like '%'||#{ordrSCnt}||'%'
	</select>

	<!-- 발주관리페이지 자재검색 -->
	<select id="materalSearch" resultType="MaterialLOTVO">
		SELECT r.rsc_cd, r.rsc_nm, o.vend_cd, SUM(l.lot_cnt) AS "LOT_CNT",
		r.saf_rtc
		FROM rsc r JOIN rsc_lot l
		ON r.rsc_cd = l.rsc_cd
		JOIN rsc_ordr
		o
		ON o.ordr_cd = l.ordr_cd
		WHERE 1 = 1
		<if test="rscNm != null and !rscNm.equals('')">
			AND rsc_nm LIKE '%' || #{rscNm} || '%'
		</if>
		GROUP BY r.rsc_cd, r.rsc_nm, o.vend_cd, r.saf_rtc
	</select>

	<!-- 발주조회페이지 발주검색 -->
	<select id="materalOrderSearch" resultType="MaterialOrderVO">
		select r.ordr_cd, r.ordr_req_dt, v.vend_cd, v.vend_nm
		from rsc_ordr r
		join vend v
		on r.vend_cd = v.vend_cd
		<if test="vendNm != null"> AND v.VEND_NM LIKE '%'||#{vendNm}||'%'</if>
	</select>

	<!-- 발주조회페이지 발주모달 -->
	<select id="orderDetailList" resultType="MaterialOrderDetailVO">
		SELECT r.rsc_cd,
		r.rsc_nm, o.vend_cd, v.vend_nm, od.ordr_cd, od.ordr_cnt,
		SUM(l.lot_cnt) AS "LOT_CNT", r.RSC_UNIT, r.saf_rtc, od.paprd_cmnd_dt
		FROM rsc r
		join RSC_ORDR_DTL od on r.rsc_cd = od.rsc_cd
		join RSC_LOT l
		on r.rsc_cd = l.rsc_cd
		join RSC_ORDR o on od.ordr_cd = o.ordr_cd
		join
		VEND v on o.vend_cd = v.vend_cd
		GROUP BY r.rsc_cd, r.rsc_nm, o.vend_cd,
		v.vend_nm, od.ordr_cd, od.ordr_cnt,
		r.RSC_UNIT, r.saf_rtc,
		od.paprd_cmnd_dt
	</select>

	<!-- 발주관리페이지 자재발주 -->
	<select id="getMaterialOrderDetail"
		resultType="MaterialOrderDetailVO">
		SELECT r.rsc_cd, r.rsc_nm, o.vend_cd, v.vend_nm, o.ordr_cd,
		d.ordr_cnt, SUM(l.lot_cnt) AS "LOT_CNT", r.saf_rtc, d.paprd_cmnd_dt
		FROM rsc r JOIN rsc_lot l
		ON r.rsc_cd = l.rsc_cd
		JOIN rsc_ordr o
		ON
		o.ordr_cd = l.ordr_cd
		JOIN rsc_ordr_dtl d
		ON o.ordr_cd = d.ordr_cd
		JOIN vend v
		ON o.vend_cd = v.vend_cd
		WHERE r.rsc_cd = #{rscCd}
		GROUP BY r.rsc_cd, r.rsc_nm, o.vend_cd, v.vend_nm,
		o.ordr_cd, d.ordr_cnt, r.saf_rtc, d.paprd_cmnd_dt
	</select>


	<!-- 발주조회페이지 -->
	<select id="selectMaterialOrderList"
		resultType="MaterialOrderVO">
		SELECT r.ordr_cd, v.vend_cd, v.vend_nm, r.ordr_req_dt
		FROM
		rsc_ordr r JOIN vend v
		ON r.vend_cd = v.vend_cd
	</select>


	<!-- 발주조회페이지 수정 -->
	<update id="materialOrderUpdate" parameterType="MaterialOrderDetailVO">
		update rsc_ordr_dtl
		set ordr_cnt = #{ordrCnt}, paprd_cmnd_dt = #{paprdCmndDt}
		WHERE ordr_cd = #{ordrCd} and rsc_cd = #{rscCd}
	</update>

	<!-- 자재조회 -->
	<select id="selectMaterialList" resultType="MaterialVO">
		SELECT
		r.rsc_nm,
		r.rsc_typ,
		r.rsc_spec,
		r.rsc_unit,
		r.saf_rtc,
		l.rsc_cd,
		SUM(l.lot_cnt) AS "lot_cnt"
		FROM rsc r, rsc_lot l
		WHERE r.rsc_cd =
		l.rsc_cd
		GROUP BY r.rsc_nm, r.rsc_typ, r.rsc_spec, r.rsc_unit,
		r.saf_rtc, l.rsc_cd
	</select>

	<!-- 자재별 재고조회 -->
	<select id="getRscStcList" parameterType="MaterialVO" resultType="MaterialVO">
        select distinct r.RSC_CD,
        r.RSC_NM,
        r.RSC_TYP,
        r.RSC_SPEC,
        r.RSC_UNIT,
        r.SAF_RTC,
        rsh.PRVMM_STC,
        rs.AVAL_STC,
        (PRVMM_STC + sum(distinct nvl(ri.IST_CNT, 0)) over (partition by rsc.RSC_CD)
        - sum(distinct nvl(ro.OUST_CNT, 0)) over (partition by rsc.RSC_CD)) as stcCnt
        from RSC
        full join RSC_STC_HIST rsh on (rsh.RSC_CD = rsc.RSC_CD and rsh.CLS_YYMM = to_char(sysdate, 'yyyyMM'))
        full join RSC_IST ri on (ri.RSC_CD = rsc.RSC_CD and ri.IST_DT between trunc(#{inqDt}, 'MM') and #{inqDt})
        full join RSC_OUST ro on (ro.RSC_CD = rsc.RSC_CD and ro.OUST_DT between trunc(#{inqDt}, 'MM') and #{inqDt})
        full join RSC_STC rs on (rs.RSC_CD = rsc.RSC_CD)
        where rsc.RSC_CD is not null
        <if test="rscCd != null and rscCd != ''">and rsh.RSC_CD = #{rscCd}</if>
        order by rsc.RSC_CD
    </select>

   <select id="getResources" resultType="MaterialVO">
        select RSC_CD, RSC_NM, RSC_UNIT
        from RSC
        where RSC_NM like '%${rscNm}%'
          and RSC_CD like '%${rscCd}%'
   </select>

	<!-- 발주신청 -->
	<insert id="rscOrdrInsert" parameterType="MaterialOrderVO">
		insert into rsc_ordr_dtl (ordr_cd, rsc_cd, ordr_cnt, paprd_cmnd_dt) values(#{ordrCd}, #{rscCd}, #{ordrCnt}, #{paprdCmndDt})
	</insert>

	<insert id="rscOrdrFInsert" parameterType="MaterialOrderVO">
		insert into rsc_ordr values(#{ordrCd}, sysdate, #{vendCd})
	</insert>

</mapper>