<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.spring.material.mapper.MaterialMapper">
  
  	<!-- 발주관리페이지 자재목록 -->  	
  	
  	  	<select id="selectMaterialLOTList" resultType="MaterialLOTVO">
	  SELECT   a.rsc_cd,
			   a.rsc_nm,
			   b.vend_cd,
			   c.lot_cnt,
               a.saf_rtc
	    FROM rsc_lot c, rsc a, rsc_ordr b
	    WHERE a.rsc_cd = c.rsc_cd
	    AND c.ordr_cd = b.ordr_cd
	    </select>
	    
	<!-- 발주관리페이지 자재발주 -->   
	    <select id="selectMaterialOrderList" resultType="MaterialOrderVO">
	    SELECT a.rsc_cd,
               a.rsc_nm,
               b.vend_cd,
               b.ordr_cd,
               c.ordr_cnt,
               c.paprd_cmnd_dt
        FROM rsc a, rsc_ordr b, rsc_ordr_dtl c
        WHERE a.rsc_cd = c.rsc_cd
        AND c.ordr_cd = b.ordr_cd
	    </select>
  
    <!-- 자재조회 -->
	<select id="selectMaterialList" resultType="MaterialVO">
		SELECT 
			   r.rsc_nm,
			   r.rsc_typ,
			   r.rsc_spec,
			   r.rsc_unit,
			   r.saf_rtc,
			   r.rsc_avail,
			   l.rsc_cd,
			   SUM(l.lot_cnt) AS "lot_cnt"
	    FROM rsc r, rsc_lot l
	    WHERE r.rsc_cd = l.rsc_cd
	    GROUP BY r.rsc_nm, r.rsc_typ, r.rsc_spec, r.rsc_unit, r.saf_rtc, r.rsc_avail, l.rsc_cd
	</select>
	
	
  
  <!-- 발주디테일 -->
  <select id="getMaterialOrderDetail" resultType="MaterialOrderDetailVO">
		SELECT ordr_cd,
			   ordr_req_dt,
			   vend_cd
	    FROM rsc_ordr
	    ORDER BY ordr_cd
	</select>
  
  <!-- 자재입고조회 -->
  	<select id="selectMaterialReceivingList" resultType="MaterialReceivingVO">
  		SELECT ist_cd,
			   rsc_cd,
			   ist_cnt,
			   ist_dt,
			   ist_typ
	    FROM rsc_ist
	    ORDER BY ist_cd
  </select>
  
  <!-- 자재출고조회 -->
  	<select id="selectMaterialShippingList" resultType="MaterialShippingVO">
  		SELECT rsc_oust_cd,
			   rsc_cd,
			   oust_dt,
			   oust_typ,
			   oust_cnt
	    FROM rsc_oust
	    ORDER BY rsc_oust_cd
  </select>
  

  
  <!-- 자재입고검사조회 -->
  	<select id="selectMaterialTestList" resultType="MaterialTestDetailVO">
  		SELECT rsc_insp_cd,
			   ordr_cd,
			   rsc_cd,
			   insp_cnt,
			   insp_pass_cnt,
			   insp_fail_cnt
	    FROM rsc_insp_dtl
	    ORDER BY rsc_insp_cd
  </select>

  </mapper>